<div id = "commit_box" style="background-color: rgb(51,153,153);font-size: 1.4em;width: 80px;padding: 5px; float: right"> 
<a style="cursor:pointer;color:#fff;"><p id = "commit_button">Contribute</p></a></div>
<div id="commit-dialog-form">
 <%= form_tag do %>
<%= text_field_tag(:edit_algo,"", :class => 'mashup_search_box') %>
</br>
<%= radio_button_tag(:type, "description") %>
<%= label_tag(:a, "Description") %>
<%= radio_button_tag(:type, "example") %>
<%= label_tag(:b, "Example") %>
<%= radio_button_tag(:type, "code") %>
<%= label_tag(:c, "Code") %>
</br>
<%= text_area :value, ""%>
</br>
<%= submit_tag("Commit") %>
<% end %>

</div>
<script>$(function() {
  $( "#commit-dialog-form" ).dialog({
      autoOpen: false,
      modal: true,
      width: 600, 
      close:function(){
      	    var editor = $('#commit-dialog-form textarea').ckeditorGet();
            editor.destroy()  
      }
    });

  $('p#commit_button').click(function(){ 
  $( "#commit-dialog-form" ).dialog("open");
  $('#commit-dialog-form textarea').ckeditor();
  });
});

</script> 
