
<p class = "click_to_commit" style="cursor:pointer;background-color: rgb(51,153,153);font-size: 1.4em;width: 80px;padding: 5px; float: right">Commit</p>
<div class="commit_box"> 
 <%= form_tag do %>
<%= text_field_tag(:edit_algo,"", :class => 'mashup_search_box') %>
</br>
<%= radio_button_tag(:type, "description") %>
<%= label_tag(:a, "Description") %>
<%= radio_button_tag(:type, "example") %>
<%= label_tag(:b, "Example") %>
<%= radio_button_tag(:type, "code") %>
<%= label_tag(:c, "Code") %>
</br>
<%= cktext_area_tag :value%>
</br>
<%= submit_tag("Commit") %>
<span class="qtag cancel_commit">X</span>
<% end %>

</div>

<script>
$(function(){
     $('.commit_box').hide();
  
  $('p.click_to_commit').click(function(){ 
        $('p.click_to_commit').hide();
  
      $('.commit_box').fadeIn(300);
  }); 
  $('.cancel_commit').click(function(){ 
        $('p.click_to_commit').show();
  
      $('.commit_box').hide();
  }); 
 });
 
</script>

