<%if current_user%>
<div id = "start_thread"> 
<a style="cursor:pointer;"><p id = "start_thread_button">Start a new thread</p></a>
</div>
<script>$(function() {
  $('p#start_thread_button').click(function(){ 
  $(".quests_show").html("<%=escape_javascript(render"qs/form")%>");      
        window.history.pushState(null, document.title,"#");
 
  });
});

</script> 
<%end%>
<br>

<% @qs.each do |q| %>
	<a class= "live_link" href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+q.id.to_s()%>>
	<span>
	<div class = "qs_tiles">
	<%q_qmails = q.qmails%>
	<%if q_qmails.last%>
	<%last_qmail = q_qmails.order("created_at").last%>	
	<div style = "font-size:2em;margin-left:8px;padding:0px;margin-bottom:0px;padding-top:5px;font-family: BentoSans;"><%=q.title%> <b>(<%=q_qmails.count%>)</b></div>
	<%u_id = last_qmail.user_id%>
	<div style="font-size:1.2em;margin-left:8px;padding-bottom:2px;font-family: BentoSans;color:#888;">Last post <%=last_qmail.created_at.strftime("%b, %d")%> by <b><%=last_qmail.user.name%></b></div>
	<%else%>
	<div style = "font-size:2em;margin-left:8px;padding:0px;margin-bottom:0px;padding-top:5px;font-family: BentoSans;"><%=q.title%> <b>(0)</b></div>	
	<div style="font-size:1.2em;margin-left:8px;padding-bottom:2px;font-family: BentoSans;color:#888;">No posts</div>
	<%end%>
	</div>
	</span></a>
<%end%>

<script>$(function() {
   $('.example').truncate({max_length: 24});
});

</script> 