<div class="dashboard">

<div class="dashboard_right">
<h2>
<%=@quest.title%>
 </h2>
<p style="margin-top:25px;margin-bottom:5px;color:#666;"><b>About</b></p>
<%=@quest.description%>
</br>

<div style="margin-top:10px;">
<b style="color:#666;">Started</b> on <%=@quest.created_at.strftime("%b %d")%>
<hr style="margin-top:10px;">

<button style="margin-top:30px;" class="leave_quest" onclick ="leave_quest()">Leave Quest</button>

<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Members</b></p>
<div>
<%@quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url ,:size => "30x30", :title => user.name) %>
<%end%>
</div>
<%= form_tag({:controller=> "quests",:action => "show"},:remote=> true, :id => "borderless") do %>
  <%= label_tag(:add_user, " ") %>
  <%= text_field_tag :add_user %>
  <%= submit_tag("Add") %>
<% end %>
</div>
</div>
  

<div class="quests_show">

<%= render "quests/listq"%>
</div>


</div>


<script>$(function() {
//	add users autocomplete	
var availableTags = [<% for user in User.order("created_at DESC").all -%>
"<%= user.name %>"
<%if user==User.order("created_at DESC").last%>
<%else%>
,<%end%>
<% end -%>];
$( "#add_user" ).autocomplete({
source: availableTags
});
   	
});
function leave_quest(){
    $.getScript("/");
          window.history.pushState(null, document.title,"/");
 

}
</script> 