 <div class="dashboard">
<div class="dashboard_right">
<h2><%=@quest.title%></h2>
<%=@quest.description%>
</br>
<div>
Started on <%=@quest.created_at.strftime("%b %d, %Y")%>
<div>
<%@quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url ,:size => "30x30") %>
<%end%>
</div>

</div>
</div>
<div class="quests_show">
<% @quest.qs.each do |q| %>
<a href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+q.id.to_s()%>>
<span><div class = "qs_tiles">
<div class="time">
<%=q.created_at.strftime("%b %d, %Y")%>
</div>
<h2><%=q.title%></h2>
</br>
</div>
</span></a>
<%end%>

</div>
</div>
</div>
