<div class="dashboard">

<div class="dashboard_right">
<div style="display: inline-block;font-size:2em;" data-intro="This will take you to the home page, where all archived mails are listed" data-step=3>
<%= image_tag("list.png", :alt => "<=", :height => "20", :width => "20") %>
<a class= "live_link" href = <%= '/quests/'+@quest.id.to_s()+'?partial=true'%> >
<%=@quest.title%></a>
</div>

<div style="margin-top:30px;">
<button class="left_nav_buttons" style="color:#fff;background-color:#666;font-weight:bold;" id="left_nav_search" data-intro = 'This will take you to search dashboard where you can also see your previous search results' data-step = 5 data-position = "right" onclick ="show_search_page()">Search</button>
<button class="left_nav_buttons" id="left_nav_discussion"  data-intro = 'This will take you to the mailing archives threads list or mails of a particular thread' data-step = 5 data-position = "right" onclick ="show_mailing_page()">Discussion Forum</button>
</div>
<p style="margin-top:25px;margin-bottom:5px;color:#666;"><b>About</b></p>
<%=@quest.description%>
</br>

<div style="margin-top:10px;">
<b style="color:#666;">Started</b> on <%=@quest.created_at.strftime("%b %d")%>
<hr style="margin-top:10px;">
<div class ="join_leave_quest">
<%if current_user%>
<%i = Involvement.where("user_id =? AND quest_id =?",current_user.id,@quest.id)%>
<% if i[0] %><button style="margin-top:30px;" class="leave_quest" onclick ="leave_quest()"  data-intro = 'Clicking this will unsubscribe you from this quest' data-step = 6 data-step = 6 data-position = "top" >Leave Quest</button>
<script>
function leave_quest(){
    $.ajax({
			type: "GET",
			url: "/leave_quest",
			data: { i_id: <%=i[0].id%>}
		 	
		});

}</script>
<%else%>
<button style="margin-top:30px;" class="join_quest" onclick ="join_quest()"  data-intro = 'Clicking this will subscribe you to the quest' data-step = 6 data-position = "top" >Join Quest</button>
<script>
function join_quest(){
    $.ajax({
			type: "GET",
			url: "/join_quest",
			data: { join_quest_quest_id: <%=@quest.id%>, join_quest_user_id: <%=current_user.id%>}
		
		});

}

</script>
<%end%>
<%else%>
<a style="margin-top:30px;" class="join_quest" href="/signin"  data-intro = 'Clicking this will subscribe you to the quest' data-step = 6 data-position = "top" >Join Quest</a>
<%end%>
</div>
<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Members (<%=@quest.users.count%>)</b></p>
<div>
<%@quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url ,:size => "30x30", :title => user.name) %>
<%end%>
</div>
<%if current_user%>
<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Send an invite</b></p>
<%= form_tag({:controller=> "quests",:action => "show"},:remote=> true, :id => "borderless",:"data-intro" => 'Enter email-id to invite someone.', :"data-step" => 7, :"data-position" => "top") do %>
  <%= label_tag(:add_user, " ") %>
  <%= text_field_tag :add_user %>
  <%= submit_tag("Send") %>
<% end %>
<%end%>
</div>
</div>  
<div class= "dashboard_content_area">
<div class="quests_show" style="display:none;">
	<%if @q%>
	<%= render "qs/q"%>
	<%else%>
	<%= render "quests/listq"%>
	<%end%>
</div>
  
<div class="quest_search_page" >
	
	<%= render "quests/search_page"%>

</div>
</div>
</div>
<script>
$(function() {	
var page_url_split = location.href.split("/search");
var dq_search_page =location.href;
if(page_url_split[1]==undefined){
	dq_search_page = (dq_search_page.split("?")[0]).split("/qs/")[0]+"/search";
}
$('button#left_nav_discussion').data("url",page_url_split[0]);
$('button#left_nav_search').data("url",dq_search_page);
<%if @q%>
show_mailing_page();
<%end%>
});

function show_search_page(){
 window.history.pushState(null, document.title, $('button#left_nav_search').data("url"));  
 $('div.quests_show').hide();
 $('div.quest_search_page').show();
 $('.vm_tray').show();
 $('.mashup_search_box').show();
 $('button.left_nav_buttons').css("color","#777");
  $('button#left_nav_search').css("color", "#fff");
 $('button.left_nav_buttons').css("background-color","#e8e8e8");
 $('button#left_nav_search').css("background-color", "#666");
 $('button.left_nav_buttons').css("font-weight","normal");
 $('button#left_nav_search').css("font-weight", "bold");
}
function show_mailing_page(){
 window.history.pushState(null, document.title, $('button#left_nav_discussion').data("url"));   
 $('.vm_tray').hide();
 $('.mashup_search_box').hide();
 $('div.quest_search_page').hide();
 $('div.quests_show').show();
 $('button.left_nav_buttons').css("color","#777");
  $('button#left_nav_discussion').css("color", "#fff");
 $('button.left_nav_buttons').css("background-color","#e8e8e8");
 $('button#left_nav_discussion').css("background-color", "#666");
 $('button.left_nav_buttons').css("font-weight","normal");
 $('button#left_nav_discussion').css("font-weight", "bold");
}
</script> 
