<div class="dashboard">

<div class="dashboard_right">
<h2>
<%=@quest.title%>
 </h2>
<p style="margin-top:25px;margin-bottom:5px;color:#666;"><b>About</b></p>
<%=@quest.description%>
</br>

<div style="margin-top:10px;">
<b style="color:#666;">Started</b> on <%=@quest.created_at.strftime("%b %d")%>
<hr style="margin-top:10px;">
<div class ="join_leave_quest">
<%i = is_member_of(current_user.id,@quest.id)%>
<% if i %><button style="margin-top:30px;" class="leave_quest" onclick ="leave_quest()">Leave Quest</button>
<script>function leave_quest(){
    $.ajax({
type: "GET",
url: "/leave_quest",
data: { i_id: <%=i%>}
});

}</script>
<%else%>
<button style="margin-top:30px;" class="join_quest" onclick ="join_quest()">Join Quest</button>
<%end%>
</div>
<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Members</b></p>
<div>
<%@quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url ,:size => "30x30", :title => user.name) %>
<%end%>
</div>
<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Send an invite</b></p>
<%= form_tag({:controller=> "quests",:action => "show"},:remote=> true, :id => "borderless") do %>
  <%= label_tag(:add_user, " ") %>
  <%= text_field_tag :add_user %>
  <%= submit_tag("Add") %>
<% end %>

</div>
</div>
  

<div class="quests_show">

<%= render "quests/listq"%>
</div>


</div>


<script>
function join_quest(){
    $.ajax({
type: "GET",
url: "/join_quest",
data: { join_quest_quest_id: <%=@quest.id%>, join_quest_user_id: <%=current_user.id%>}
});

}

</script> 