 <div class="content_header">
 <%= @quest.title %>
 <table>
<% @quest.users.each do |user| %>
<tr><%= link_to h(image_tag(Gravatar.new(user.email).image_url, :size => "30x30")), user %></tr>
<%end%>
<tr>
<button class="button1" id="Add" >  
+</button>
</tr>
<tr >
<div id="dialog-form">
<%= form_tag({:controller=> "quests",:action => "show"}, :id => "borderless") do %>
  <%= label_tag(:add_user, " ") %>
  <%= text_field_tag :add_user %>
  <%= submit_tag("Add") %>
<% end %>
</div>
</tr>

</table>
</div>


<div class="content_middle">
   <p>

    <%= @quest.description %>
  </p>


<% @quest.qs.each do |q| %>

<a href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+q.id.to_s()%>> 
<div class ="post">
  
   <%= q.title %>
  <div class="time"> <%= q.created_at.strftime("%b,%d")%>
  </div>
 </div></a>
<hr class = "line">
</hr>
 <% end %>
</div>
<div >
<div id ="add_q">
	Add a new Q
	</div>
<div id="form_addq">

<%= form_for([@quest, @quest.qs.build]) do |f| %>
  <div class="field">
   <%f.label :title %>
    <%= f.text_field :title ,:style=>'border:0px;'%>
    <%= f.submit "Add new Q"%>
  
  </div>  
  
<% end %>
</div>
</div>
	<script>
	
	
		
	$(function() {

		//autocomplete for user names
		var availableTags = [<% for user in User.all -%>
		"<%= user.name %>"
		<%if user==User.last%>
		<%else%>
		,<%end%>
		<% end -%>];
		$( "#add_user" ).autocomplete({
			source: availableTags
			});
     $('#dialog-form').hide();
 		
		$('#Add').click(function(){ 
      $('#dialog-form').show();
      $("#Add").hide();
  }); 
	
		//dialog box for adding user
	 	$('#form_addq').hide();
  
	$('#add_q').click(function(){ 
   	$('#form_addq').show();
  	$('#add_q').hide(); 
  });
	
	});
	</script>



 