<%= form_tag({ :action => "search"}, :method => "get", :remote => true) do %>
	  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag(">",:id=> "submitbar") %>
  	<% end %>
  	<hr>
<div class="vm_tray">
<span class="vm_icon1" id="mailing_list" style="width:10%">Mailing List</span>
<span class="vm_icon1" id="documentation"style="width:10%">Documentation</span>
<span class="vm_icon1" id="stack_overflow"style="width:10%">Stack Overflow</span>
<span class="vm_icon1" id="scilab_help"style="width:10%">Scilab Help</span>
<span class="vm_icon1" id="wikipedia"style="width:10%">Wikipedia</span>
</div>
<%if @documents%>
		<%if @scilab_results%>
		<div class="vm_results" id ="scilab_help">
			
			<%begin%>
				<%=raw@callseq%>
				<%=raw@refsec%>
			<%rescue%>
			<%end%>
			<hr>
		</div>
		<%end%>
		<div class="vm_results" id="mailing_list">
			
	<%@documents.each do |d|%>
		<%@d=d.searchable%>
		<%if d.searchable_type=="Qmail"%>
			<%result_q = @d.q%>
			<%url = result_q.id.to_s()+"?qmail_id="+@d.id.to_s()%>
			<%result_qmail = @d%>
		<%else%>
			<%url = @d.id.to_s()%>
			<%result_q = @d%>
			<%result_qmail = @d.qmails.first()%>
		
		<%end%>
		<a class= "live_link" href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+url%>>
			<div>
				<h2 style = "margin-top:10px;margin-left:3px;padding:5px;color:#666;font-size:1.8em;line-height:1.3em;font-family:BentonSans;"><%=result_q.title%></b></h2>
			</div>
			
				<%if result_qmail%>
				
				<div style = "margin-left:8px;font-size:14px;" class = "example">
					<%=raw result_qmail.content%>
					
				</div>
			<div style="width:100%;">
				<div style="float:right;margin-right:5%;margin-bottom:10px;">
					<p class = "post_user">posted <%=result_qmail.created_at.strftime("%b, %d")%> by <%=result_qmail.user.name%></p>
				</div>
			</div>
			<%end%>
		</a>
		<hr>
		
	<%end%>
	
</div>

<%end%>
<div id="stack_overflow" class="vm_results">
No results found	</div>
<div id="documentation" class="vm_results">
No results found</div>
<div id="wikipedia" class="vm_results">
No results found</div>
<script>$(function() {
 
   $('.example').truncate({max_length: 24});
$('span.vm_icon1').click(function(){
	$('div.vm_results').hide();
	$('div#'+$(this).attr("id")).show();
	$('span.vm_icon1').css('border-top', '0px');
	$('span.vm_icon1').css('color', '#777');
	$(this).css('border-top', '3px solid navy');
	$(this).css('color', 'navy');

});
});
</script> 