<%= form_tag({ :action => "search"}, :method => "get", :remote => true) do %>
	  <%= text_field_tag(:search, params[:search]) %>
	<% end %>
<%if @documents%>
		<%if @scilab_results%>
		<div class="vm_results">
			<p style="padding:2px;margin-bottom:5px;color:#666;font-size: 1.4em;background-color: #EDEDED;"><b>Scilab help</b></p>
			
			<%begin%>
				<%=raw@callseq%>
				<%=raw@refsec%>
			<%rescue%>
			<%end%>
			<hr>
		</div>
		<%end%>
		<div class="vm_results">
		<p style="padding:2px;margin-bottom:5px;color:#666;font-size: 1.4em;background-color: #EDEDED"><b>Mailing List</b></p>
			
	<%@documents.each do |d|%>
		<%@d=d.searchable%>
		<%if d.searchable_type=="Qmail"%>
			<%result_q = @d.q%>
			<%url = result_q.id.to_s()+"?qmail_id="+@d.id.to_s()%>
			<%result_qmail = @d%>
		<%else%>
			<%url = @d.id.to_s()%>
			<%result_q = @d%>
			<%result_qmail = @d.qmails.first()%>
		
		<%end%>
		<a class= "live_link" href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+url%>>
			<div>
				<h2 style = "margin-top:10px;margin-left:3px;padding:5px;color:#666;font-size:1.8em;line-height:1.3em;font-family:BentonSans;"><%=result_q.title%></b></h2>
			</div>
			
				<%if result_qmail%>
				
				<div style = "margin-left:8px;font-size:14px;" class = "example">
					<%=raw result_qmail.content%>
					
				</div>
			<div style="width:100%;">
				<div style="float:right;margin-right:5%;margin-bottom:10px;">
					<p class = "post_user">posted <%=result_qmail.created_at.strftime("%b, %d")%> by <%=result_qmail.user.name%></p>
				</div>
			</div>
			<%end%>
		</a>
		<hr>
		
	<%end%>
	
</div>
<%end%>
<script>$(function() {
 
   $('.example').truncate({max_length: 24});
});

</script> 