<%= form_tag({ :action => "search"}, :method => "get", :remote => true) do %>
	  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag(">",:id=> "submitbar") %>
  	<% end %>
<div class="vm_tray">
<span class="vm_icon1" id="description">Description</span>
<span class="vm_icon1" id="examples">Examples</span>
<span class="vm_icon1" id="mailing_list" >Mailing List</span>
<span class="vm_icon1" id="qna">QnA</span>
<span class="vm_icon1" id="bugs">Bugs</span>
<span class="vm_icon1" id="related">Related Functions</span>
<hr style = "width:75%;">

</div>
<%if @documents%>
		<%if @scilab_results%>
		<div class="vm_results" id ="description">
			
			<%begin%>
				<%@description.each do |t|%>
				<div id = "searchresults"><%=raw t%></div>
				<%end%>
			<%rescue%>
			<%end%>
			<hr>
		</div>
		
		<div id="related" class="vm_results">
			<%begin%>
				<%@relatedfunc.each do |t|%>
				<div id = "searchresults" class="sci_rel_func"><%=raw t%></div>				
				<%end%>
			<%rescue%>
			<%end%>
		</div>
		<div class="vm_results" id ="examples">
			
			<%begin%>
					<%@example[0].css("div.programlisting").each do |l|%>
					<div style="float:right;background-color:#ccc;padding:5px;margin-bottom:2px;cursor:pointer;"><a  href="http://cloud.scilab.in" target="_blank">Run in Cloud</a></div>
					<div id = "searchresults"><%=raw l%></div>
					<br>
					<%end%>
			<%rescue%>
			<%end%>
			<hr>
		</div>
		<%end%>
		<div class="vm_results" id="mailing_list">
			
	<%@documents.each do |d|%>
		<%@d=d.searchable%>
		<%if d.searchable_type=="Qmail"%>
			<%result_q = @d.q%>
			<%url = result_q.id.to_s()+"?qmail_id="+@d.id.to_s()%>
			<%result_qmail = @d%>
		<%else%>
			<%url = @d.id.to_s()%>
			<%result_q = @d%>
			<%result_qmail = @d.qmails.first()%>
		
		<%end%>
		<a class= "live_link" href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+url%>>
			<div  id="mailresults">
			<div>
				<h2 style = "margin-top:10px;margin-left:3px;padding:5px;color:#666;font-size:1.8em;line-height:1.2em;font-family:BentonSans;"><%=result_q.title%></h2>
			</div>
			
				<%if result_qmail%>
				
			<div style="width:100%;">
				<div style="float:right;margin-bottom:20px;">
					<div class = "post_user" style="font-family:BentoSans;margin-right:3%;">posted on <%=result_qmail.created_at.strftime("%b, %d")%> by <%=result_qmail.user.name%></div>
				</div>
			</div>
			<br>
			<%end%>
			</div>
		</a>
		
	<%end%>
	
</div>

<%end%>

<div id="qna" class="vm_results">
	<%if @so_results%>
		<%begin%>
			<br>
		<%j=0%>
		<%while j < @reco.length%>
			<br>
		<h3><%=raw@reco[j]%></h3>	
		<h4><%=raw@reco_desc[j]%></h4>
		<%j=j+1%>
		<hr>
		<%end%>	
		<%rescue%>
		<%end%>	
	<%end%>	
</div>

<div id="bugs" class="vm_results">
	<%if @bugzilla_results%>
	
	<%begin%>
	<br>
	<%j = 0%>
		<table>
		<tr><td style = "font-family:BentoSans;font-size:1.1em;"><b>Component</b></td>
		<td style = "font-family:BentoSans;font-size:1.1em;"><b>Issue</b></td>
		<td style = "font-family:BentoSans;font-size:1.1em;"><b>Modified Date</b></td>
		</tr>
		<%while j < @shortdesc.length and j < 20%>
		<tr>
		<div style="font-family:BentoSans;font-size:1.1em;"><%=raw@component[j]%></div>
		<div style="font-family:BentoSans;font-size:1.1em;"><%=raw@shortdesc[j]%></div>
		<div style="font-family:BentoSans;font-size:1.1em;"><%=raw@datemodified[j]%></div>
		<%j = j + 1%>
		<%end%>
		</table>
	<%rescue%>
	<%end%>
	<%end%>
</div>

<script>$(function() {
 
   $('.example').truncate({max_length: 24});
$('span.vm_icon1').click(function(){
	$('div.vm_results').hide();
	$('div#'+$(this).attr("id")).show();
	$('span.vm_icon1').css('border-bottom', '0px');
	$('span.vm_icon1').css('color', '#777');
	$(this).css('border-bottom', '3px solid navy');
	$(this).css('color', 'navy');

});
  $("div.result-link a").live("click", function() {
     ajax_result_content_navigation("/so","stackoverflow.com/questions/12760174");
     return false;
   });
 $("div#bugs.vm_results a").live("click", function() {
     ajax_result_content_navigation("/bugzilla","http://bugzilla.scilab.org/show_bug.cgi?id=3523");
     return false;
   });
});
function ajax_result_content_navigation(url,data){
	$('div.quest_search_page').children().hide()
	 $('div.quest_search_page').append('<div id="result_content_navigation"style="width: 70%;display: inline-block;"><button onclick=back_navigation()><=</button></div>');
          $.ajax({
			type: "GET",
			url: url,
			data: { ad: data,right: false}
		  });
}
function back_navigation(){
	$('div#result_content_navigation').remove();
	$('div.quest_search_page').children().show()	
}
</script> 
