<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
 <table  style = "width:565px; border:none;padding:5px;">
<tr valign="top">
<td width="65px"><a href="www.daqwest.com" target="_blank"><%= image_tag("http://i33.tinypic.com/2hh2g5w.png", :alt => "DaQuest", :width => "60px", :height => "40px") %></a></td>
<td width="485px"><div style="font-size:15px;margin-bottom: 10px;line-height: 1.2em;" ><strong>New Post added to thread "<%= @qmail.q.title%>" in the quest "<%=@qmail.q.quest.title%>"</strong></div><td>
</tr> 
    <tr>
<td width="65px"></td>
<td width="485px"> 
<div style = "text-align:left;margin-bottom:10px;font-weight:bold"><%= @qmail.user.name%></div>
<%=raw @qmail.content%>   
<br>
<br>
<strong>To see the thread with all posts, visit
<br>
<a href = "http://localhost:3000/quests/1/qs/1" target="_blank">http://localhost:3000/quests/1/qs/1</a>
</strong>
<br>
<br>
Thanks,
<br>
Daqwest Team
<hr>
</td>
<tr>
</table>    

  </body>
</html>