

<div id="q" data-id="<%=@q.id%>" >
<div class="content_header">
<%=@quest.title%> <%= @q.title %>
</div>
<div id="examplePadBasic"></div>
 


<hr id="boldhr">
    <div id='com' >
    <%if @q.qmails %>
      <%= render @q.qmails %>
   
<%end%>
 </div>
  <div  id="qmail_field">
<%= render "qmails/form" %>
</div>

</div>
<script>
	
	
		
	$(function() {
	$('#examplePadBasic').pad({'padId':'<%=@quest.title+@q.id.to_s+@q.title%>'});
	
		});
	</script>


