
<div id="q" data-id="<%=@q.id%>" >
<h2>
	<a class="grey" "live_link", href = "/">
<=</a>


	<a class="grey" "live_link", href = <%= '/users/'+current_user.id.to_s()+'/quests/'+@quest.id.to_s()%>>
	<%=@quest.title%></a>
/<%=@q.title%>

 </h2>
    <div id='com' >
    <%if @q.qmails %>
      <%= render @q.qmails %>
   
<%end%>
 </div>
  <div  id="qmail_field">
<%= render "qmails/form" %>
</div>

</div>
<div id="onselection_list">
		<p></p>

<button onclick="search_wiki()" >Wiki</button>
</div>

<script>
	
	
		
	$(function() {
		 
		$('#onselection_list').hide();
	
			//autocomplete for user names
		var availableTags = [<% for user in User.all -%>
		"<%= user.name %>"
		<%if user==User.last%>
		<%else%>
		,<%end%>
		<% end -%>];
		$( "#add_user" ).autocomplete({
			source: availableTags
			});
     $('#dialog-form').hide();
 		
		$('#Add').click(function(){ 
      $('#dialog-form').show();
      $("#Add").hide();
  }); 
	
		//dialog box for adding user
	 	$('#form_addq').hide();
  
	$('#add_q').click(function(){ 
   	$('#form_addq').show();
  	$('#add_q').hide(); 
  });
	//on hover profile


	
		});
	</script>


