<div id="q" data-id="<%=@q.id%>" class="dashboard">
<div class="dashboard_right">

<div style="display: inline-block;font-size:2em;">
<%= image_tag("list.png", :alt => "<=", :height => "20", :width => "20") %>
<a class= "live_link", href = <%= '/quests/'+@quest.id.to_s()%>>
<%=@quest.title%></a>
</div>

<p style="margin-top:25px;margin-bottom:5px;color:#666;"><b>About</b></p>
<%=@quest.description%>
</br>

<div style="margin-top:10px;">
<b style="color:#666;">Started</b> on <%=@quest.created_at.strftime("%b %d, %Y")%>
<hr style="margin-top:10px;">

<div class ="join_leave_quest">
<%i = Involvement.where("user_id =? AND quest_id =?",current_user.id,@quest.id)%>
<% if i[0] %><button style="margin-top:30px;" class="leave_quest" onclick ="leave_quest()">Leave Quest</button>
<script>function leave_quest(){
    $.ajax({
			type: "GET",
			url: "/leave_quest",
			data: { i_id: <%=i[0].id%>}
		 	
		});

}</script>
<%else%>
<button style="margin-top:30px;" class="join_quest" onclick ="join_quest()">Join Quest</button>
<%end%>
</div>
<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Members</b></p>
<div>
<%@quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url ,:size => "30x30", :title => user.name) %>
<%end%>
</div>


</div>
</div>
<div class="mails">
<div>
<div style ="margin-top:5px;margin-left:1%;font-size:2em;font-weight:bold;"><%=@q.title%></div>
</div>
<br>
<br>
<div id='com'>
   <%if @qmails %>
   <%= render partial: "qmails/qmail", collection: @qmails.sort_by { |obj| obj.created_at }%>
<%end%>
 	</div>
<div  id="qmail_field">
<%if current_user%>

<%= render "qmails/form" %>
<%else%>
<p class = "click_to_reply"style="color:#A0A0A0;font-size:1.3em;margin-bottom:1%;"><b>Signin to post</b></p>
  <%end%>

</div>
</div>
</div>

<script>

$(document).ready(function() {
  $('pre').each(function(i, e) {hljs.highlightBlock(e)});
});
function join_quest(){
    $.ajax({
			type: "GET",
			url: "/join_quest",
			data: { join_quest_quest_id: <%=@quest.id%>, join_quest_user_id: <%=current_user.id%>}
		
		});

}
</script>
