
<div>
<div style ="margin-top:5px;margin-left:1%;font-size:2em;font-weight:bold;"><%=@q.title%></div>
</div>
</br>
</br>
<div id='com'>
   <%if @qmails %>
   <%= render partial: "qmails/qmail", collection: @qmails.sort_by { |obj| obj.created_at }%>
<%end%>
 	</div>
<div class ="q_tags" style="float:right;margin-right:5%;width:25%;">
    <div style="font-family:Georgia;font-size:1.8em;">Tags</div>
<hr>
</br>
</div>


<div  id="new_qmail_outer">
<%if current_user%>

<%= render "qmails/form" %>
<%else%>
<p class = "click_to_reply"style="color:#A0A0A0;font-size:1.3em;margin-bottom:1%;"><b>Signin to post</b></p>
  <%end%>

</div>

<script>

$(document).ready(function() {
var js_tags = <%= raw @tags.to_json %>;
var js_html_tag = "";
for (var i=0;i<js_tags.length;i++)
{ 
	$("div.q_tags").append("<a class='live_link' href='/quests/"+<%=@quest.id%>+"/search?search="+js_tags[i]+"'><span class='qtag'>"+js_tags[i]+"</span></a>");
}

$('span#qmail_edit_save a').hide();
  $('pre').each(function(i, e) {hljs.highlightBlock(e)});

});


</script>
