
<div>
<div style ="margin-top:5px;margin-left:1%;font-size:2em;font-weight:bold;"><%=@q.title%></div>
</div>
</br>
</br>
<div id='com'>
   <%if @qmails %>
   <%= render partial: "qmails/qmail", collection: @qmails.sort_by { |obj| obj.created_at }%>
<%end%>
 	</div>
<div class="q_tags" style="display:none;">
</div>

<div  id="qmail_field">
<%if current_user%>

<%= render "qmails/form" %>
<%else%>
<p class = "click_to_reply"style="color:#A0A0A0;font-size:1.3em;margin-bottom:1%;"><b>Signin to post</b></p>
  <%end%>

</div>

<script>

$(document).ready(function() {
$('span#qmail_edit_save a').hide();
  $('pre').each(function(i, e) {hljs.highlightBlock(e)});
var x
var json = <%= raw @parsed.to_json %>;
$.each(json, function(i, v) {
    if (v.id == <%=@q.id%>) {     
        for (var i = 0; i < v.tags.length; i++) { 
    	$('div.q_tags').append("<span > "+v.tags[i].tag+" </span>");
    	}
		return;
    }
});
console.log();
});


</script>
