<div id="q" data-id="<%=@q.id%>" class="dashboard">
<div class="dashboard_right">

<div style="display: inline-block;font-size:2em;">
<%= image_tag("list.png", :alt => "<=", :height => "20", :width => "20") %>
<a class= "live_link", href = <%= '/users/'+current_user.id.to_s()+'/quests/'+@quest.id.to_s()%>>
<%=@quest.title%></a>
</div>

<p style="margin-top:25px;margin-bottom:5px;color:#666;"><b>About</b></p>
<%=@quest.description%>
</br>

<div style="margin-top:10px;">
<b style="color:#666;">Started</b> on <%=@quest.created_at.strftime("%b %d, %Y")%>
<hr style="margin-top:10px;">

<button style="margin-top:30px;" class="leave_quest" onclick ="leave_quest()">Leave Quest</button>

<p style="margin-top:30px;margin-bottom:5px;color:#666;"><b>Members</b></p>
<div>
<%@quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url ,:size => "30x30", :title => user.name) %>
<%end%>
</div>
<%= form_tag({:controller=> "quests",:action => "show"},:remote=> true, :id => "borderless") do %>
  <%= label_tag(:add_user, " ") %>
  <%= text_field_tag :add_user %>
  <%= submit_tag("Add") %>
<% end %>
</div>
</div>
<div class="mails">
<div>
<div style ="margin-top:5px;margin-left:1%;font-size:2em;font-weight:bold;"><%=@q.title%></div>
</div>
<br>
<br>
<div id='com'>
    <%if @q.qmails %>
     <%= render @q.qmails %>
   
<%end%>
 	</div>
 	<div  id="qmail_field">
<%= render "qmails/form" %>
</div>
</div>
</div>
<div id="onselection_list">
<p></p>

<button onclick="search_wiki()" >Wiki</button>
</div>

<script>
$(function() {
 
$('#onselection_list').hide();
//autocomplete for user names
var availableTags = [<% for user in User.all -%>
"<%= user.name %>"
<%if user==User.last%>
<%else%>
,<%end%>
<% end -%>];
$( "#add_user" ).autocomplete({
source: availableTags
});
     $('#dialog-form').hide();
 	
$('#Add').click(function(){ 
      $('#dialog-form').show();
      $("#Add").hide();
  }); 
//dialog box for adding user
$('#form_addq').hide();
  
$('#add_q').click(function(){ 
   	$('#form_addq').show();
  $('#add_q').hide(); 
  });
//on hover profile


});
</script>