<div id="q" data-id="<%=@q.id%>">
 <b>Title:</b>
    <%= @q.title %>
  </p>
 
Started on: <%= @q.created_at%>



    <h2>Qmails:</h2>
    <div id='com' >
    <%if @q.qmails %>
      <%= render @q.qmails %>
   
<%end%>
 </div>
  <div  id="qmail_field">
<h2>Add a comment:</h2>
<%= render "qmails/form" %>
</div>

</div>
