<%= form_for(@wikialgo) do |f| %>
  <% if @wikialgo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wikialgo.errors.count, "error") %> prohibited this wikialgo from being saved:</h2>

      <ul>
      <% @wikialgo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @wikialgo.pages.each do |item| %>
      <tr>
        <td><%= check_box_tag "pages[]", item.id %></td>
      	<td>rank - <%=item.prank%> link - <%= item.link%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
