<div class="dashboard">
<h2>
<%=current_user.name%>
</h2>
<div class="dashboard_right">
<div class="user_image">

<a href="http://en.gravatar.com/emails/"  target="_blank"><%= image_tag(Gravatar.new(current_user.email).image_url(:size=>162),:alt=>current_user.name, :height => "162", :width => "162", :title => "Change your avatar at gravatar.com") %></a></div>
</br>
<div style="margin-top:5px;margin-left:5px;margin-bottom:10px;">
Joined on <%=current_user.created_at.strftime("%b %d, %Y")%>
</div>
<hr>
<div class="notifications_block" style="margin-top:10px;margin-left:5px;margin-bottom:10px;">
<div style="margin-bottom:10px;">Notifications
<div class="unread_notification_count"> <%=@unread_notifications.count%>
</div>
</div>
<%@unread_notifications.each do |notification|%>
<% if !notification.has_read %>
<div class="unread_notification_left" >
<% else %>
<div >
<%end%>
<%= link_to notification.content,{ :controller=> "pages",:action => "read_notification",:n_id =>notification.id}, {:remote=>true}%>
</div>
<hr>
<%end%>
<a href="/notifications" class= "live_link"> See all
</a>

</div>

</div>
<div class="quests_show">
<% current_user.quests.each do |quest| %>
<a class="block" href = <%= '/users/'+current_user.id.to_s()+'/quests/'+quest.id.to_s()%>>
<span><div class = "quests_tiles">
<div class="time">
<%=quest.created_at.strftime("%b, %d")%>
</div>
<h2><%=quest.title%></h2>
<%=truncate(quest.description, :length => 85, :separator => ' ')%>
</br>
<div class="quests_tiles_img">
<%quest.users.each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url,:alt=>"" ,:size => "30x30") %>
<%end%>
</div>
</div>
</span></a>
<%end%>

<div class="quests_tiles">
<div class="new_quest">
<%= form_for([current_user, current_user.quests.build], :remote => true) do |f| %>
   <%= f.text_field :title,:value=>"A name for the Quest", :style=>'height:33px;width: 100%;border:0px;background:#666;color:#ddd;font-size:2em;font-weight:normal;margin-top:0px;'  %>
    <%= f.text_area :description,:value=>"Provide a description", :style=>'width: 100%;height:100px;border:0px;font-family:"Helvetica Neue";background:#666;color:#ccc' %>
    <%= f.submit "Start the Quest", :class => "button_new_quest"%>
   
<% end %>

</div>
</div>
</div>
</div>
<script>
</script>

