<div class="quests_info">
<div style="font-size:2.5em;margin-bottom:30px;color:#464368;font-family:BentonSans;line-height:1.4em;">
	
	<% if current_user.quests.count!=0%>
	My Quests
	<%else%>
	You are not involved in any quests yet!
	<%end%>
	</div>
<% current_user.quests.each do |quest| %>
<a class="block live_link" href = <%= '/users/'+current_user.id.to_s()+'/quests/'+quest.id.to_s()%>>
<span>

<div class = "quests_tiles">
<div class="time_quest">
<%=quest.qs.size%> posts, <%=quest.users.size%> members
</div>

<div style="float:left;padding-top:15px;padding-left:20px;font-size:14px;">
<h2 style="color:#693;position:relative;ont-size:2.0em;font-family:BentonSans;line-height:1.4em;"><%=quest.title%></h2>

<div style="font-family:BentoSans;font-size:1em;"><%=truncate(quest.description, :length => 80, :separator => ' ')%></div>
<div class="quests_tiles_img">
<%quest.users.limit(14).each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url,:alt=>"" ,:size => "30x30") %>
<%end%>
</div>
</div>
</div>
</span></a>
<%end%>
<br>
<%qrec = recommended_quests(current_user.id)%>
<%if qrec.count!=0%>
<p style="margin-left:3px;margin-top:5px;margin-bottom:15px;color:#666;font-size:1.8em;font-family:BentoSans;"><b>Browse recommended quests</b></p>
<%end%>
<%qrec.each do |q|%>
<% quest = Quest.find(q) %>
<a class="block live_link" href = <%= '/users/'+current_user.id.to_s()+'/quests/'+quest.id.to_s()%>>
<span>

<div style = "height:170px;width:70%;cursor:pointer;border-top: 1px solid #F8F8F8;box-shadow: 0 1px 2px 0 #ccc;padding:10px;margin-bottom:50px;">

<div style="float:left;padding-top:15px;padding-left:20px;font-size:14px;">
<div style="color:#693;font-size:2.0em;font-family:BentonSans;line-height:1.4em;font-weight:normal;"><%=quest.title%></div>
<p style="font-family:BentoSans;font-size:1.4em;line-height:1.2em;color:#888;margin-top:20px;font-weight:normal;"><%=quest.description%></p>

<div class="quests_tiles_img">
<%quest.users.limit(14).each do |user|%>
<%= image_tag(Gravatar.new(user.email).image_url,:alt=>"" ,:size => "30x30") %>
<%end%>
</div>
</div>
</div>
</span></a>
<%end%>


</div>


</div>
<script>
$(function() {
   $('.clear_notification').click(function()
   {
   	$(this).parent().fadeOut(200);
  n_id = $(this).attr("data-id");
 	$.ajax({
type: "POST",
url: "/clear_notification",
data: { n_id: n_id }
});
var c = $('.unread_notification_count').html();
$('.unread_notification_count').text(c-1);
return false;
   });	
});
</script>
