<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

 <head>
<title>
<%= title %></title><%= render 'layouts/stylesheets' %> 


     <link rel="shortcut icon" href="/favicon.ico" />

</head>
<body >
    
<div style = "height:60px;position:fixed;background-color:#99cc88;width:100%;padding-top:19px">
<ul>
<div style = "display:inline;margin-left:150px;">
<a class="live_link" href="/" style="font-size:2.8em;color:#fff;line-height:1.2em;font-weight:bold;font-family:Lucida Grande">DaQwest</a></a>
</div>
<a href="/about"style="color:#fff;display:inline;margin-left:35%;font-size:150%;font-family:BentonSans;">About</a>
<a href="/team" style="color:#fff;display:inline;margin-left:3%;font-size:150%;font-family:BentonSans;">Team</a>
<a href = "/blogs" style="color:#fff;display:inline;font-size:150%;margin-left:3%;font-family:BentonSans;">Blog</a>
<a style="color:#fff;display:inline;font-size:150%;margin-left:3%;font-family:BentonSans;">|</a>
<a href = "/signin#signin" style="color:#fff;display:inline;font-size:150%;margin-left:50px;font-family:BentonSans;">Log in</a>
</ul>
</div>
<div style="height:390px;background-color:#99cc88;padding-top:1px;width:100%">

<p class = "motto">Building Information Repositories.</p>
<p class = "motto_desc">Discover.Link.Contribute.</p>
<a href="/signin#signin"><p id = "motto_signup_button">Sign up</p></a>
</div>

    <table style="margin-top:7%;margin-bottom:10%;margin-left:15%;margin-right:15%;width:75%;">
        <tr>
        <td><div style="font-family:BentoSans;font-size:2.2em;margin-bottom:2%;color:#aaa;">Browse quests</div></td>
        </tr>
        <tr>
        <td><a href="/quests/207"><div style="height:150px;width:500px;cursor:pointer;border-top: 1px solid #F8F8F8;box-shadow: 0 1px 2px 0 #ccc;padding:10px;margin-bottom:50px;"><div style="color:#693;font-size:2.0em;font-family:BentonSans;line-height:1.4em;">Scilab</div><p style="font-family:BentoSans;font-size:1.4em;line-height:1.2em;color:#888;margin-top:20px">This is a quest for scilab organisation which aims to link and enrinch the information related to scilab.</p></div></a></td>
        <td><a href="/quests/26"><div style="height:150px;width:500px;cursor:pointer;border-top: 1px solid #F8F8F8;box-shadow: 0 1px 2px 0 #ccc;padding:10px;pointer;margin-bottom:50px;"><div style="color:#693;font-size:2.0em;font-family:BentonSans;line-height:1.4em;">List of Algorithms</div><p style="font-family:BentoSans;font-size:1.4em;line-height:1.2em;color:#888;margin-top:20px">This quest tries to link resources containing information related to algorithms.</p></div></a></td>
        </tr>
       
       <tr>
        <td style="width:50%;margin-top:10%;">
        <div>
        <div style="font-family:BentoSans;font-size:2.8em;line-height:1.5em;color:#9c8;margin-top:7%;">Information Mashup</div>
        <div style="font-family:BentoSans;font-size:1.6em;line-height:1.2em;color:#aaa;margin-top:20px">
        <p>With sources like Wikipedia, Stackoverflow, respective community documentation and other information sources, it powers the community greatly. The dashboard tries to link the information resources to organize and enrich the quality of information and subsequently form a linked corpus of information.</p>        
        </div>
        <br>
        </div></td>
        <td><div style="padding-top:5%;"><%= image_tag("mashup.png", :alt => "mashup", :width => "110%") %><br></div></td>    
        </tr>
       
        <tr>
        <td><br><br><div style="padding-right:10%;"><%= image_tag("sci_main.png", :alt => "sci", :width => "105%") %></div></td>
        <td style="width:50%;">
        <br>
        <br>
        <div>
        <div style="font-family:BentoSans;font-size:2.8em;line-height:1.5em;color:#9c8;">Amazing Search Dashboard !!!</div>
        <div style="font-family:BentoSans;font-size:1.6em;line-height:1.2em;color:#aaa;margin-top:20px">
        <p>Search the huge archives of mailing list, bugzilla, stackoverflow and get relavent results. Get instant definition and examples. Run examples on cloud. Browse and navigate to stackoverflow question and bugzilla issues. All information at one place. </p>
        </div>
        </div></td>
        </tr>
        
        <tr>
        <td style="width:50%;padding-top:10%;">
        <div>
        <div style="font-family:BentoSans;font-size:2.8em;line-height:1.5em;color:#9c8;margin-top:7%;">Enriching the mailing Lists</div>
        <div style="font-family:BentoSans;font-size:1.6em;line-height:1.2em;color:#aaa;margin-top:20px">
        <p>Spam-free mailing list platform with interactive user-interface. Beautiful and responsive editor. Mails linked through tags enriching the quaility of information. Send invites to other people. Colored code blocks. </p>        
        </div>
        <br>
        </div></td>
        <td style="padding-top:10%;"><div style="padding-left:15%;"><%= image_tag("mail-list.png", :alt => "sci", :width => "105%") %><br></div></td>    
        </tr>
    
    </table>
    
<a name = "signup">
</div style="margin-top:100px;">
<%= render 'form' %>
</div>
 </a>
 <a href="https://plus.google.com/109208930301116978283" rel="publisher">Google+ page</a>
</body>