<div style = "margin-left:20%;margin-top:2%;">
<div style="width:60%;">
<div style = "font-size:2.2em;line-height:1.4em;font-weight:bold;float:left;font-family:BentonSans;"> <%= best_in_place @user, :name %></div><div style = "float:left;font-size:2.2em;font-family:BentonSans;line-height:1.4em;"></div>
</div>
<a class="live_link" href ="/" style="color:#fff;"><div id = "my_quests_button">My Quests
</div></a>
<hr>
<div style = "margin-top:30px;float:left">
<%= image_tag(Gravatar.new(@user.email).image_url(:d=>"mm",:size=>150),:alt=>@user.name, :height => "150", :width => "150",:align=>"left", :title => "Change your avatar at gravatar.com") %>
<div style = "float:left; margin-left:0px">
<table>
<tr><td class="user_info" style="color:#666;">Email</td>   <td class = "user_info"><%=@user.email%></td></tr>
<tr><td class="user_info" style="color:#666;">Location</td>   <td class = "user_info"><%=best_in_place @user, :location%></td></tr>
<tr><td class="user_info" style="color:#666;">Education</td>   <td class = "user_info"><%=best_in_place @user, :education%></td></tr>
<tr><td class="user_info" style="color:#666;">Organization</td>   <td class = "user_info_right"><%=best_in_place @user, :organization%></td></tr>
<tr><td class="user_info" style="color:#666;">Description</td>   <td class = "user_info_right"><%=best_in_place @user, :description%></td></tr>
<tr><td class="user_info" style="color:#666;">Joined on</td>   <td class = "user_info"><%=@user.created_at.strftime("%b %d, %Y")%></td></tr>

</table>

</div>

</div>
</div>
<script>
$(function() {	
$('.best_in_place').best_in_place();
});
</script>
