<%if @query!=nil%>
<div style="font-family:serif;float:right;margin-left:1100px;position:fixed;margin-top:200px;">
<%if @related_algorithm.length > 0%>
<div style="font-size:1.4em;color:#888;font-family:serif;margin-bottom:10px">Related entities (<%= @related_algorithm.length %>)</div>
	<ul>
	<%@related_algorithm.each do |l|%>
		<li type="none" style="font-family:serif; font-size:1.2em;"><%= raw l%></li>
	<%end%>
	</ul>
<%end%>
</div>
<%end%>


<div class="vm_tray">
<span class="vm_icon1" id="algo_article" >Articles</span>
<span class="vm_icon1" id="algo_description" >Description</span>
<span class="vm_icon1" id="math_analysis" >Mathematical Analysis</span>
<span class="vm_icon1" id="algo_examples" >Algorithm</span>
<span class="vm_icon1" id="code" >Code</span>
<span class="vm_icon1" id="algo_related" >Related Algorithms</span>
<span class="vm_icon1" id="videos" >Videos</span>

</div>
<%if (@defs && @defs!=[])%>
<div class="vm_results" id ="algo_description">
                        <%begin%>
                                <%@defs.each do |t|%>
                                <span style = "margin-bottom:5px;background-color:#ccc;color:#222;padding:4px;font-family:sans-serif;font-weight: 200;"><%= t.source%></span>
                                <div style="padding:5px;">
                                <div id = "searchresults"><%=raw t.content%></div>
                                </div>
                                <%end%>
                        <%rescue%>
                        <%end%>
</div>
<%end%>
<%= render "vms/code_algorithm"%>		
<%= render "vms/wiki_algorithm"%>		
<%= render "vms/article"%>		

<%if(@embed_vid && @embed_vid != []) %>
<div class="vm_results" id="videos">                        
        <%@embed_vid.each do |e|%>
        	<div style="color:#aaa;font-family:serif;font-size:1.2em;font-weight:400;margin-bottom:0px;"><u><%=raw e[0]%></u></div></br>
        	<iframe width="520" height="300" src="<%=e[1]%>" frameborder="0" allowfullscreen></iframe>
        	<br>
        	<br>
        	<br>
        <%end%> 
</div>
<%end%>


<script>
var vm_live_id;
$(function() {
<%if @wikialgo%>
 var algo_tags = [<% for algo in @wikialgo -%>
"<%= raw algo %>"
<%if algo==@wikialgo.last%>
<%else%>
,<%end%>
<% end -%>];

 $( "input#search" ).autocomplete({
	source: algo_tags
});
<%end%>
$("span.vm_icon1").hide();

<%if @arr%>
var js_array = <%= raw @arr.to_json %>;
for (var i=0;i<js_array.length;i++)
{ $("span#"+js_array[i]).show();
}
<%end%>
  $('pre').each(function(i, e) {hljs.highlightBlock(e)});

$('span.vm_icon1').click(function(){
	$('div.vm_results').hide();
	$('div#'+$(this).attr("id")).show();
	vm_live_id = $(this).attr("id");
	$('span.vm_icon1').css('border-bottom', '0px');
	$('span.vm_icon1').css('color', '#777');
	$(this).css('border-bottom', '3px solid rgb(28,45,193)');
	$(this).css('color', 'rgb(28,45,193)');

});

if ($('#algo_article').css('display') == 'none'){
  $('span#algo_description').click();
	
}
else{
	  $('span#algo_article').click();
}

});
</script> 
