<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!DOCTYPE html>
<html>
<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<title>
<%= title %></title>
<%= stylesheet_link_tag 'algorithm', :media => 'screen' %>
<%= javascript_include_tag "algorithm" %>
 	<link rel="shortcut icon" href="/favicon.ico" />
 <style>
  .ui-tabs-vertical { width: 100%; }
  .ui-tabs-vertical .ui-tabs-nav {  float: left;margin-top:50px; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border: 0px; margin:0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border : 0px;}
  .ui-tabs-vertical .ui-tabs-panel { padding: 0em; }
  .ui-tabs .ui-tabs-nav li a { max-height:75px; white-space:normal;width: 250px;font-family: sans-serif;color:#333;font-size:1.0em;font-weight: 200;} 
#tabs{border: 0px;}
  </style>
</head>
<body>
<div class="dashboard">

<div class= "dashboard_content_area">
<div id = "qwst_hdr">
<div><a  id = "logo" href ="/vinay">daqwest</a></div>
<div style="float:left;display:inline;"> <%= form_tag({ :controller => "algorithms", :action => "show"}, :method => "get", :remote => true ) do %>
	  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("",:id=> "submitbar") %>
 <% end %>
</div>
</div>


<div class="quest_search_page" style ="margin-top:20px;" >

<%= render "result"%>

<%if @query==nil%>
<div style="width:600px;margin-top:10px;margin-left:310px;border:1px solid rgba(136,136,136,0.48);border-radius:3px;">
<div id = "category_hdr" >Sequence sorting</div>
<div style="margin:20px;">
<%@wikialgo.each do |w|%>
<div id = "algo_list" style = "font-size:1.2em;"><img style= "padding-right:5px;width:16px;height:16px;float:left;padding-top:3px;" src = "/assets/algo_articles.png">
<a href="?search=<%=w%>" style = "line-height:1.3em;color:rgb(28,45,193);cursor:pointer;"><%= w %></a></div>
<%end%>	
</div>
</div>
<%end%>
</div>
</div>
</div>

</body>
