<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!DOCTYPE html>
<html>
<head>
<title>
<%= title %></title>
<%= stylesheet_link_tag 'algorithm', :media => 'screen' %>
<%= javascript_include_tag "algorithm" %>
 	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body>
<div class="dashboard">

<div class= "dashboard_content_area">
 <%= form_tag({ :controller => "algorithms", :action => "show"}, :method => "get", :remote => true ) do %>
	  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("",:id=> "submitbar") %>
 <% end %>

<div class="quest_search_page" style ="margin-top:20px;" >
	
<%= render "result"%>

</div>
</div>
</div>

</body>