<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!DOCTYPE html>
<html>
<head>
<title>
<%= title %></title>
<%= stylesheet_link_tag 'algorithm', :media => 'screen' %>
<%= javascript_include_tag "algorithm" %>
 	<link rel="shortcut icon" href="/favicon.ico" />
 <style>
  .ui-tabs-vertical { width: 100%; }
  .ui-tabs-vertical .ui-tabs-nav {  float: left;margin-top:50px;margin-left:80px; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border: 0px; margin:0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border : 0px;}
  .ui-tabs-vertical .ui-tabs-panel { padding: 0em; }
  .ui-tabs .ui-tabs-nav li a { max-height:75px; white-space:normal;width: 250px;font-family: sans-serif;color:#333;font-size:1.0em;font-weight: 200;} 
#tabs{border: 0px;}
  </style>
</head>
<body>
<div class="dashboard">

<div class= "dashboard_content_area">
 <%= form_tag({ :controller => "algorithms", :action => "show"}, :method => "get", :remote => true ) do %>
	  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("",:id=> "submitbar") %>
 <% end %>

<div class="quest_search_page" style ="margin-top:20px;" >
	
<%= render "result"%>

</div>
</div>
</div>

</body>
