<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!DOCTYPE html>
<html>
<head>
<title>
<%= title %></title>
<%= render 'layouts/stylesheets' %> 

 	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body style="background: #EEE;">
<div class="ui-layout-north">

<div style = "padding-left:5%;padding-right:5%;">
<a class="live_link" href="/"><%= image_tag("logo.png", :alt => "DaQuest", :height => "40px") %></a> <ul class="navigation ">
<ul class="navigation ">
 <li> <% if current_user %>
  <div style="float:left"><a class="live_link" href ="/notifications"><%= image_tag(Gravatar.new(current_user.email).image_url, :size => "30x30") %></a></div>
    <div style="float:left;margin-top:5px;font-weight:bold;"><%= current_user.name %>
        <%= link_to "Sign-out", :signout%>
        <% else %>
        <%= link_to "Sign-in", :signin %>
        <% end %>
        </div>
        </li>
</ul>	
</div>

<div class="container ">

<% flash.each do |key, value| %>
<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
</div>

</div>

<div style="margin-left:15%;margin-top:2%;">
<div style="float:left;width:75%;">



<div style="margin-bottom:1%;color:#666;font-family: Georgia, FreeSerif, Times, serif;font-size:30px;">dq blog</div>

<hr>
<br>
<br>

<div style="margin-bottom:7%;background:white;box-shadow: 0 1px 2px rgba(0,0,0,0.2);padding: 4% 3%;">
<h1><a name="virtualmembers" style="color:#690;font-size:1em;line-height:1.3em;font-family: Georgia, FreeSerif, Times, serif;">Virtual Members</a></h1>
<p id = "blog">There are certain gadgets and websites which are frequently required by mailing lists to fully create an ecosphere of effective communication and collaboration. They are like virtual members of the quest which help in their own way to make the development process more interactive and effective. The virtual members are integrated on the right side panel of website.
    </p>
    <br>
    <p id = "blog">Currently there are 5 virtual members as follows.</p>
<br>
<p id = "blog"><strong>Wikipedia</strong> - Wikipedia is an amazing source of information. It contains information on virtually every topic imaginable.</p>
<br>
<p id = "blog">Below are the pics of wikipedia VM showing the scilab page. One can browse through the page using arrows on the top.</p>
<br>
<div style="background-color:#e8e8e8;">
<div style ="padding:2%;"><div style="display:inline;margin-right:1%;"><%= image_tag("blog_wiki1.png", :alt => "DQ", :width => "32%") %></div><div style = "display:inline;margin-right:1%;"><%= image_tag("blog_wiki2.png", :alt => "DQ", :width => "32%") %></div><div style="display:inline;"><%= image_tag("blog_wiki3.png", :alt => "DQ", :width => "32%") %></div></div>
</div>
<br>
<p id="blog"><strong>StackOverflow</strong> - Stackoverflow features question and answers on a wide range of topics in computer programming.</p>
<p id="blog">Below are the pictures of 2 questions asked on stackoverflow.</p>
<div style="background-color:#e8e8e8;">
<div style ="padding:2%;"><div style="display:inline;"><%= image_tag("blog_so1.png", :alt => "DQ", :width => "30%") %></div><div style="display:inline;margin-left:5%"><%= image_tag("blog_so2.png", :alt => "DQ", :width => "30%") %></div></div>
</div>
<br>
<p id="blog"><strong>ScilabHelp</strong> - This is a virtual member built especially for scilab community. This would empower the group members so that they can use it for their quick help refernce.</p>
<div style="background-color:#e8e8e8;">
<div style ="padding:2%;"><div style="display:inline;"><%= image_tag("blog_scilab1.png", :alt => "DQ", :width => "40%") %></div><div style="display:inline;margin-left:5%"><%= image_tag("blog_scilab2.png", :alt => "DQ", :width => "40%") %></div></div>
</div>
<br>
<p id="blog"><strong>IRC</strong> - Internet Relay Chat, an important communication tool used by most open source organisation.</p>
<br>
<p id="blog"><strong>Gist</strong> - It is a kind of pastebin where you can store text and share it in the group.</p>
</div>	

<div style="margin-bottom:7%;background:white;box-shadow: 0 1px 2px rgba(0,0,0,0.2);padding: 4% 3%;">
<h1><a name="virtualmembersinaction" style="color:#690;font-size:1em;line-height:1.3em;font-family: Georgia, FreeSerif, Times, serif;">Virtual Members in Action !!!</a></h1>
<h2 style ="font-size:1.5em;font-weight:bold;line-height:1.3em;font-family: Georgia, FreeSerif, Times, serif;">Mahup Buttons in the Editor !!!</h2>
<div>
<div style ="padding:2%;"><div style="display:inline;margin-right:1%;"><%= image_tag("blog_mashup.png", :alt => "DQ", :width => "80%") %></div></div>
</div>
<p id = "blog" style="font-family: Georgia, FreeSerif, Times, serif;font-size:20px;line-height:25px;">The mashup buttons can be used to create mashup links which will help to empower the message with embedded information being displayed on the right hand side panel.
    </p>
    <br>
    <p id = "blog">Here we will see how we can use virtual members in mailing list to make it more interactive and informative. </p>
<br>
<h2 style ="font-size:1.5em;font-weight:bold;line-height:1.3em;font-family: Georgia, FreeSerif, Times, serif;">Wikipedia</h2>
<br>
<p id = "blog">Wikipedia is an amazing source of information. It contains information on virtually every topic imaginable.</p>
<br>
<p id = "blog">Below is an example of how wikipedia VM can be used for embedding useful information within the message. The green colored text are powered by Wikipedia VM which on clicking generates the content on the right hand side panel.</p>
<br>
<div style="background-color:#e8e8e8;">
<div style ="padding:2%;"><div style="display:inline;"><%= image_tag("blog_mashupwiki.png", :alt => "DQ", :width => "100%") %></div></div>
</div>
<br>
<br>
<h2 style ="font-size:1.5em;font-weight:bold;line-height:1.3em;font-family: Georgia, FreeSerif, Times, serif;"><h2 style ="font-size:1.5em;font-weight:bold;line-height:1.3em;font-family: Georgia, FreeSerif, Times, serif;">Stackoverflow and ScilabHelp</h2>
<br>
<p id="blog">Stackoverflow features question and answers on a wide range of topics in computer programming.</p>
<br>
<p id="blog">This is a virtual member built specially for scilab community. This would empower the group members so that they can use it for their quick reference.</p>
<br>
<p id="blog">Now lets see how we can create a interactive mashup. </p>
<br>
<p id="blog">Below in the pic, the user has used stackoverflow and scilabHelp virtual members to embed the information into the message. </p>
<br>
<p id="blog">On clicking the green link 'here', the stackoverflow virtual member generates the content on right hand side panel.</p>
<br>
<div style="background-color:#e8e8e8;">
<div style ="padding:2%;"><div style="display:inline;"><%= image_tag("blog_soscilab.png", :alt => "DQ", :width => "100%") %></div></div>
</div>
<br>
<p id="blog">On clicking the green links, the scilabHelp virtual members generates the documentation of those methods on right hand side panel as shown below.</p>
<br>
<div style="background-color:#e8e8e8;">
<div style ="padding:2%;"><div style="display:inline;margin-right:1%;"><%= image_tag("blog_scilab1.png", :alt => "DQ", :width => "32%") %></div><div style = "display:inline;margin-right:1%;"><%= image_tag("blog_scilab2.png", :alt => "DQ", :width => "32%") %></div><div style="display:inline;"><%= image_tag("blog_scilab3.png", :alt => "DQ", :width => "32%") %></div></div>
</div>

</div>	
</div>

<div style="float:left;width:18%;margin-left:65%;margin-top:12%;position:fixed;">
<p style="font-weight:bold;color:#666;font-size:15px;margin-left:7%;margin-bottom:5%;">Recent Posts</p>
<ul>
<li><a style="color:#690;font-size:15px;font-weight:bold;" href="#virtualmembers">Virtual Members</a></li><hr style="margin-top:2%;margin-bottom:5%;">
<li><a style="color:#690;font-size:15px;font-weight:bold;" href="#virtualmembersinaction">Virtual Members in Action !!!</a></li><hr style="margin-top:2%;margin-bottom:5%;">
</ul>
</div>

</div>
</body>
