<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

 <head>
<title>
<%= title %></title>
<%= render 'layouts/stylesheets' %> 

 	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body >
<div class="ui-layout-north">

<div style = "padding-left:5%;padding-right:5%;">
<a class="live_link" href="/"><%= image_tag("logo.png", :alt => "DaQuest", :height => "40px") %></a> <ul class="navigation ">
<ul class="navigation ">
 <li> <% if current_user %>
  <div style="float:left"><a class="live_link" href ="/notifications"><%= image_tag(Gravatar.new(current_user.email).image_url, :size => "30x30") %></a></div>
    <div style="float:left;margin-top:5px;font-weight:bold;"><%= current_user.name %>
        <%= link_to "Sign-out", :signout%>
        <% else %>
        <%= link_to "Sign-in", :signin %>
        <% end %>
        </div>
        </li>
</ul>	
</div>

<div class="container ">

<% flash.each do |key, value| %>
<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
</div>

</div>

<div style="margin-left:15%;margin-right:25%;margin-top:2%">

<ul>
<a href="/about"style="display:inline;margin-right:20px;font-size:120%;">About</a>
<a href="/team" style="display:inline;margin-right:20px;font-size:120%;border-bottom: 2px solid navy">Team</a>
<a href = "/blogs" style="display:inline;font-size:120%;">Blog</a>
</ul>

<hr>
<br>
<br>
<h1 style="color:#333;font-family: Georgia, FreeSerif, Times, serif;font-size:30px;">Our Team</h1>
<div style="width:70%;">
<p style="font-family: Open Sans,sans-serif;font-size:18px;">We are a team of engineering hackers who have a prior experience at Google Summer of Code, Scilab and few mobile app startups. Having worked at places where community collaboration is an important ingredient, we understand that there is a need to empower the ecosphere.</p>
</div>
</div>


</body>
