<div style="margin-left:1%;margin-right:10px;padding:20px;box-shadow: 0 0 2px 0px #E0E0E0;background-color:#F8F8F8 ;">
 
 <p class = "click_to_reply" style="cursor:pointer;color:#A0A0A0;font-size:1.3em;margin-bottom:1%;"><b>Click here to add your post</b></p>
  
<%= form_for([@q, @q.qmails.build], :remote => true ) do |f| %>
<div class="reply_box"> 
<span style= "font-weight:bold;font-size:1.2em;"><%= current_user.name %></span>
 
  <div style="float:right;">
  <%= image_tag(Gravatar.new(current_user.email).image_url, :size => "30x30") %></div>

  <div class="qmail_field" id="qmail_field">
  <br />   
 	<%=cktext_area_tag :qmail_content%>
  	</div>
  <div style="margin-top:1%;">
    <%= f.submit "Add Your Post", :class => 'qmail_submit'%>
  </div>
  </div>
<% end %>
</div>

<script>
$(function(){
     $('.reply_box').hide();
  
  $('p.click_to_reply').click(function(){ 
        $('p.click_to_reply').hide();
  
      $('.reply_box').fadeIn(300);
  }); 
 });
 
</script>
