
<%= form_for([@q, @q.qmails.build], :remote => true, :update => "qmails_list", :position => :bottom) do |f| %>
  <div style="float:right;padding:10px;">
 		<%= image_tag(Gravatar.new(current_user.email).image_url, :size => "30x30") %></div> 
  
  <div class="qmail_field" id="qmail_field">
  	<br />
    <%= f.label :content, "Say Something"%><br />
  
  <%= f.cktext_area :content,:ckeditor => {:language => "en"} %>
   </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
$(function(){

 });
</script>
