
 <div class ="post" style = "margin:10px;padding:20px;box-shadow: 0 0 2px 0px #F0F0F0;background-color:#F4F4F4 ;" data-time="<%=qmail.created_at.to_i%>"> 
 <span class= "bold">	<%=qmail.user.name%>
 	</span>
 	<div style="float:right">
 	<%begin%>
 	
 	<%= image_tag(Gravatar.new(qmail.user.email).image_url, :size => "30x30") %> 
  <%rescue%>
  <%end%>
  </div>
  <div style="width:95%;"><%= markdown(qmail.content) %></div>
 	<span style="background:#D1E1AD;padding-left:4px;padding-right:4px;"><%= link_to 'delete', [qmail.q, qmail], :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' } %> </span></div>