 <div class ="post"  data-time="<%=qmail.created_at.to_i%>" data-id="<%=qmail.id%>"> 
 <span class= "bold">	<%=qmail.user.name%>
 	</span>
 	<div style="float:right">
 	<%begin%>
 	
 	<%= image_tag(Gravatar.new(qmail.user.email).image_url, :size => "30x30") %> 
  <%rescue%>
  <%end%>
  </div>
  <div style="width:93%;" class = "c_qmail"><%=raw(qmail.content)%></div>
 	<span style="background:#D1E1AD;padding-left:4px;padding-right:4px;"><%= link_to 'delete', [qmail.q, qmail], :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' } %> </span></div>
