<%if @song%>
  
<div class="row">
<div class="large-12 columns">

<div  class="light_grey border_less panel" >
	 <div style="width: 80px; display: inline-block;"><img src="<%=@song.img_m%>"style="margin-bottom:35px;"></div>
	 
	 <div style="display: inline-block;margin-left:8px;"><h3><%=@song.title%></h3> 
	 	
	 	<%@song.artists.each do |artst|%>	 	
	 	<%=artst%> <%end%>
	 	<%if @song.album%>
	 	,<%=@song.album%>
	 	<%end%>
	 	
	 	</div></div>
		 
	
	</div>
	</div>

	</div>

<div class="row">
	<div class="large-5 large-offset-5 medium-6 medium-offset-6">
<div data-magellan-expedition="fixed" >
	 <dl class="sub-nav">
	 <dd data-magellan-arrival="audio" class="show-for-small-only"><a href="#audio">Audio</a></dd> 
	 <dd data-magellan-arrival="video" class="show-for-small-only"><a href="#video">Video</a></dd> 
	 <%if @wiki_definition%>
	 <dd data-magellan-arrival="info"><a href="#info">Info</a></dd> <%end%>
	 <%if @lyrc%>
	 <dd data-magellan-arrival="lyrics"><a href="#lyrics">Lyrics</a></dd> <%end%>
	 <%if @sf%>
	 <dd data-magellan-arrival="facts"><a href="#facts">Facts</a></dd> <%end%>
	 
	 <%if @sm%>
	 <dd data-magellan-arrival="sm"><a href="#sm">Interpretation</a></dd> <%end%>
	 <dd data-magellan-arrival="news"><a href="#news">News</a></dd> </dl>
	 
	 </div>

</div>
<div class="medium-6 large-5 columns">

<div  class="light_grey border_bottom panel">
	<a name="audio"></a>
	<h4 data-magellan-destination="audio">Audio</h4>
	</div>
<%if @song.audio_sc[0]%>	
<div class='flex-video'>
<iframe width="700" height="200" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/<%=@song.audio_sc[0]%>" frameborder="0" allowfullscreen></iframe>
</div>
<%else%>
No audio found	
<%end%>
<div  class="light_grey border_bottom panel">
	<a name="video"></a>
	<h4 data-magellan-destination="video">video</h4>
	
	</div>
<div class="flex-video"> <iframe width="420" height="315" src="//www.youtube.com/embed/<%=@song.video_yt[0]%>" frameborder="0" allowfullscreen></iframe> </div>
</div>

	<div class="medium-6 large-5 columns end">	
<%if @wiki_definition%>
<div  class="light_grey border_bottom panel">
	<a name="info"></a>
	<h4 data-magellan-destination="info">Info</h4>
	
	</div>
<div class="panel border_less">

<%@wiki_definition.each do |t|%>
<%=raw t%>
<%end%>
</div>
<%end%>

<%if @lyrc%>
<div  class="light_grey border_bottom panel">
	<a name="lyrics"></a>
	<h4 data-magellan-destination="lyrics">Lyrics</h4>
	
	</div>
<div class="panel border_less">
	<%=raw @lyrc.encode!('UTF-8')%>

</div>
<%end%>

<%if @sf%>
<div  class="light_grey border_bottom panel">
	<a name="facts"></a>
	<h4 data-magellan-destination="facts">Facts</h4>
	
	</div>
<div class="panel border_less">
	<% @sf.each do |ss|%>
		<%=raw ss%>
		<br>
	<%end%>

</div>
<%end%>

<%if @sm%>
<div  class="light_grey border_bottom panel">
	<a name="sm"></a>
	<h4 data-magellan-destination="sm">Interpretation</h4>
	
	</div>
<div class="panel border_less">
<% @sm.each do |ss|%>
		<%=raw ss%>
		<br>
	<%end%>

</div>
<%end%>

<div  class="light_grey border_bottom panel">
	<a name="news"></a>
	<h4 data-magellan-destination="news">News</h4>
	
	</div>

<div class="panel border_less">
  <ul class="listview">
 <%@news.each do |n|%>
    <li >
    <a href="<%=n[0]%>">
     <div >
		<img src="<%=n[1]%>">
      </div>
      <%=n[2]%><br>
      <p class="show-for-large-only"><%=n[3]%></p>
           <p style="color:rgba(182, 109, 109, 1)"><%=n[4]%></p>
      </a>
    </li>
    <hr>
 <%end%>       
  </ul>
</div>

</div><!-- left tabs div on large screen-->


</div><!-- outer raw div-->
<%end%>

<script>
$(function() {
<%if @songs%>
 var song_tags = [<% for sng in @songs -%>
"<%= raw sng %>"
<%if sng==@songs.last%>
<%else%>
,<%end%>
<% end -%>];

 $( "input#search" ).autocomplete({
	source: song_tags
});
});
<%end%>

</script> 