
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @title%></title>

    <%= stylesheet_link_tag    "responsive" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  <style>
  .light_grey{
  	background-color: #f2f2f2;
  	
  }
  .border_less{
  	border-width: 0px;
  }
  .border_bottom{
  	border-width: 0px;
  	border-color: #666;
  	border-bottom-width: 2px;
  
  }
  </style>
<%= javascript_include_tag "responsive" %>
  </head>

  <body class="light_grey">
<div class="row">
<div class="large-2 small-4 columns">
	<h3 style="color: orange;">Daqwest</h3>
</div>
<div class="large-8 columns end">
<form accept-charset="UTF-8" action="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
   <div class="raw collapse">
    <div class="large-9 medium-8 columns">
      
   	  <span class="ui-helper-hidden-accessible" aria-live="polite" role="status"></span><input autocomplete="off" class="ui-autocomplete-input" id="search" name="search" value="Rather Be (feat. Jess Glynne)" type="text">
	 
      </div>
    <div class="large-2 medium-4 columns">
     <input class="button tiny" value="Search" type="submit">
	    </div>
        </div>
</form>
</div>
</div><!-- header search bar-->
   <%= render "result"%>
	
  </body>
</html>