<div id="header" >

<a class="live_link" href="/" style="font-size:2.8em;color:#fff;line-height:1.2em;font-weight:bold;font-family:Lucida Grande;margin-left:140px;margin-top:14px;"><%= image_tag("logo.png", :alt => "DaQuest", :height => "40px", :class => "logo") %></a> 
<ul class="navigation ">
 <li> <% if current_user %>
 <div style="float:left;margin-top:10px;"><a href ="/users/<%=current_user.id%>"><%= image_tag(Gravatar.new(current_user.email).image_url(:d => "mm"), :class => "user_hdr_img") %></a></div>
  <div style= "float:left;margin-top:10px;font-size:20px;"> | </div>
  <div style= "float:left;margin-top:15px"><a class="live_link" href ="/notifications">Notifications</a></div>
  <div style= "float:left;margin-top:10px;font-size:20px;"> | </div>
    <div style="float:left;margin-top:15px;">
        <%= link_to "Logout", :signout%>
        <% else %>
			<div style="float:left;margin-top:15px;font-family:BentoSans;font-size:1.2em;background:#ccc;padding:5px;"> <%= link_to "Login", :signin %></div>
        <% end %>
        </div>
        </li>
</ul>
</div>