<div id = "leftcontent">
<%if current_user%>



<font color="#000000" size="4.0">
<% current_user.quests.each do |quest| %>
 <a href = <%= '/users/'+current_user.id.to_s()+'/quests/'+quest.id.to_s()%>>
<div class ="quest_blocks">

	  <%= quest.title %>
 </div>

 </a>
 <hr>
 <% end %>
<button class="button"  onclick = "window.location.href = <%=users_path%>" id = "AddQ">  

New Quest</button>

<div id="dialog-formQ" class="dialog">
<h2>Add a Quest:</h2>
<%= form_for([current_user, current_user.quests.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
	</div>
<%end%>
</font>


</div>


	<script>
	$(function() {
		
		
		//dialog box for adding user
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
		
		
		var name = $( "#name" );

		$( "#dialog-formQ" ).dialog({
			autoOpen: false,
			dialogClass: 'ui-dialog-shadow',
			height: 400,
			width: 450,
			modal: true,
			buttons: {
				
			},
			close: function() {
				
			}
		});

		$( "#AddQ" )
			.button()
			.click(function() {
				$( "#dialog-formQ" ).dialog( "open");
			});
	});
	</script>


