<div id = "rightcontent" class ="ui-layout-east">
<div id ="rightcontent_head">
VM's
<table>
<tr><label id="link_1"><%= image_tag("wiki.png", :alt => "Wikipedia", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_2"><%= image_tag("link.png", :alt => "Gist", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_3"><%= image_tag("irc.png", :alt => "IRC", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_4"><%= image_tag("gist.png", :alt => "Gist", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_5"><%= image_tag("so.png", :alt => "Stack_Of", :height => "30", :width => "30") %></label></tr>
</table>
</div>
<div id ="wiki_vm">

<%= form_tag({:controller=> "pages",:action => "wik"},:remote =>true, :method => "get") do %>
  <%= label_tag(:ad, "Search")%>
  <%= text_field_tag :ad %>
  <%= submit_tag("Wiki") %>
<% end %>

</br>

<div id ="wik">

<%= render 'layouts/wiki' %> 
</div>

</div>
<div id="irc_vm">
<iframe src="http://webchat.freenode.net?channels=rubyonrails&uio=d4" width="100%" height="400"></iframe>
	
</div>
<%if current_user%>
<%if controller.controller_name=="qs" or controller.controller_name=="quests"%>
<div id="link_vm">
  <div  id="link_field">
<%= render "links/form" %>
  </div>
  <div id='l' >
 
    <%= render @quest.links %>

</div>
</div>

</br>
<hr>

<%end%>

<%end%>

</div>

	<script>
	
	
		
	$(function() {


	// hide it first
	
	$('#link_vm').hide();
	$('#irc_vm').hide();
  $('#link_2').click(function(){ 
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#link_vm').show("slide", { direction: "right" }, 500);
  });

  $('#link_1').click(function(){ 
      $('#link_vm').hide();
      $('#irc_vm').hide();
      $('#wiki_vm').show("slide", { direction: "right" }, 500);
  }); 
	$('#link_3').click(function(){ 
      $('#link_vm').hide();
      $('#wiki_vm').hide();
      $('#irc_vm').show();
  }); 
	
	});
	</script>


