<%if current_user%>

<div id = "rightcontent" class ="ui-layout-east">
<table>
<tr><label id="link_1"><%= image_tag("wiki.png", :alt => "Wikipedia", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_2"><%= image_tag("link_vm.png", :alt => "Gist", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_3"><%= image_tag("irc.png", :alt => "IRC", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_4"><%= image_tag("so.png", :alt => "Gist", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_5"><%= image_tag("gist.png", :alt => "gist", :height => "30", :width => "30") %></label></tr>
<tr><label id="link_6"><%= image_tag("scilab_logo.gif", :alt => "scilab help", :height => "30", :width => "30") %></label></tr>
</table>
<div id ="wiki_vm">

<%= form_tag({:controller=> "pages",:action => "wik"},:remote =>true, :method => "get") do %>
 <%= text_field_tag :ad %>
  <%= submit_tag("Wiki") %>
<% end %>

</br>

<div id ="wik">

<%= render 'layouts/wiki' %> 
</div>

</div>
<div id ="scilab_vm">

<%= form_tag({:controller=> "pages",:action => "scilab"},:remote =>true, :method => "get") do %>
 <%= text_field_tag :ad %>
  <%= submit_tag("Help") %>
<% end %>

</br>

<div id ="scilab">

<%= render 'layouts/scilab' %> 
</div>

</div>
<div id ="so_vm">

<%= form_tag({:controller=> "pages",:action => "so"},:remote =>true, :method => "get") do %>
 <%= text_field_tag :ad %>
  <%= submit_tag("So") %>
<% end %>

</br>

<div id ="so">

<%= render 'layouts/so' %> 
</div>

</div>
<div id="gist_vm">
 <div  id="gist_field">

<%= render "gists/form" %>

  </div>
<div id = "g">
<%= render current_user.gists %>
</div>
	
</div>

<div id="irc_vm">
<iframe src="http://webchat.freenode.net?channels=rubyonrails&uio=d4" width="100%" height="400"></iframe>
	
</div>
<div id="link_vm">

  <div  id="link_field">
<%if controller.controller_name=="qs" or controller.controller_name=="quests"%>

<%= render "links/form" %>
<%end%>
  </div>
  <div id='l' >
 <%if controller.controller_name=="qs" or controller.controller_name=="quests"%>

    <%= render @quest.links %>
<%end%>
</div>


</br>



</div>
</div>
<%end%>
	<script>
	
	
		
	$(function() {


	// hide it first
	 $('#so_vm').hide();    
	$('#link_vm').hide();
	$('#gist_vm').hide();
      $('#irc_vm').hide();
      $('#scilab_vm').hide();
  $('#link_2').click(function(){ 
      $('#so_vm').hide();
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#link_vm').fadeIn( 300);
  });

  $('#link_1').click(function(){ 
      $('#so_vm').hide();
     
      $('#link_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#wiki_vm').fadeIn(300);
  }); 
	$('#link_3').click(function(){ 
      $('#so_vm').hide();
      $('#link_vm').hide();
      $('#wiki_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#irc_vm').fadeIn(300);
  }); 
 $('#link_4').click(function(){ 
      $('#link_vm').hide();
      
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#so_vm').fadeIn(300);
  }); 
	
	$('#link_5').click(function(){ 
      $('#link_vm').hide();
      
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#so_vm').hide();
      $('#scilab_vm').hide();
      $('#gist_vm').fadeIn(300);
  }); 
  	$('#link_6').click(function(){ 
      $('#link_vm').hide();
      
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#so_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').fadeIn(300);
  }); 
	});
	</script>


