
<%if current_user%>

<div id = "rightcontent" class ="ui-layout-east">
<label id="link_1" class="vm_icon">Wikipedia</label>
<label id="link_2" class="vm_icon">Link</label>
<label id="link_3" class="vm_icon">Irc</label>
<label id="link_4" class="vm_icon">Stack Overflow</label>
<label id="link_5" class="vm_icon">Gist</label>
<label id="link_6" class="vm_icon">Scilab Help</label>

<div id ="wiki_vm">

<%= form_tag({:controller=> "pages",:action => "wik"},:remote =>true, :method => "get") do %>
 <%= text_field_tag :ad, "",:class => "wiki_input" %>
<% end %>

<hr>

<div id ="wik">

<%= render 'layouts/wiki' %> 
</div>

</div>
<div id ="scilab_vm">

<%= form_tag({:controller=> "pages",:action => "scilab"},:remote =>true, :method => "get") do %>
 <%= text_field_tag :ad , "",:class => "sc_input" %>
<hr><% end %>

</br>

<div id ="scilab">

<%= render 'layouts/scilab' %> 
</div>

</div>
<div id ="so_vm">

<%= form_tag({:controller=> "pages",:action => "so"},:remote =>true, :method => "get") do %>
 <%= text_field_tag :ad , "",:class => "so_input" %>
<hr>
<% end %>

</br>

<div id ="so">

<%= render 'layouts/so' %> 
</div>

</div>
<div id="gist_vm">
 <div  id="gist_field">

<%= render "gists/form" %>

  </div>
<%begin%>
<div id = "g">
<%= render current_user.gists %>
</div>
<%rescue%><%end%>	
</div>

<div id="irc_vm">
</div>
<div id="link_vm">

  <div  id="link_field">
<%if controller.controller_name=="qs" or controller.controller_name=="quests"%>

<%= render "links/form" %>
<%end%>
  </div>
  <div id='l' >
 <%if controller.controller_name=="qs" or controller.controller_name=="quests"%>

    <%= render @quest.links %>
<%end%>
</div>


</br>



</div>
</div>
<%end%>
<script>
$(function() {


// hide it first
$('#so_vm').hide();    
$('#link_vm').hide();
$('#gist_vm').hide();
      $('#irc_vm').hide();
      $('#scilab_vm').hide();
    $('#link_1').css('border-bottom', '3px solid navy');
  
  $('#link_2').click(function(){ 
     clear_borders();
     $('#link_2').css('border-bottom', '3px solid navy');
  
      $('#so_vm').hide();
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#link_vm').fadeIn( 300);
  });

  $('#link_1').click(function(){ 
     clear_borders();
     $('#link_1').css('border-bottom', '3px solid navy');
  
      $('#so_vm').hide();
     
      $('#link_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#wiki_vm').fadeIn(300);
  }); 
$('#link_3').click(function(){ 
     clear_borders();
     $('#link_3').css('border-bottom', '3px solid navy');
  
      $('#so_vm').hide();
      $('#link_vm').hide();
      $('#wiki_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#irc_vm').fadeIn(300);
  }); 
 $('#link_4').click(function(){ 
     clear_borders();
     $('#link_4').css('border-bottom', '3px solid navy');
  
      $('#link_vm').hide();
    
      
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#so_vm').fadeIn(300);
  }); 
$('#link_5').click(function(){ 
     clear_borders();
    $('#link_5').css('border-bottom', '3px solid navy');
       $('#link_vm').hide();
      
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#so_vm').hide();
      $('#scilab_vm').hide();
      $('#gist_vm').fadeIn(300);
  }); 
  $('#link_6').click(function(){ 
    clear_borders();
    $('#link_6').css('border-bottom', '3px solid navy');
  
      $('#link_vm').hide();
      
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#so_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').fadeIn(300);
  }); 
function clear_borders(){
  $('#link_1').css('border', '0px');
  $('#link_2').css('border', '0px');
  $('#link_3').css('border', '0px');
  $('#link_4').css('border', '0px');
  $('#link_5').css('border', '0px');
 $('#link_6').css('border', '0px');
 
 
   }
});
</script>