<%if current_user%>

<div id = "rightcontent" class ="ui-layout-east">
<label id="link_1" class="vm_icon">Wikipedia</label>
<label id="link_3" class="vm_icon">Irc</label>
<label id="link_4" class="vm_icon">Stack Overflow</label>
<label id="link_5" class="vm_icon">Gist</label>
<label id="link_6" class="vm_icon">Scilab Help</label>
<div class ="live_links_right">
  <div id ="wiki_vm">
<input name="ad" class="wiki_input" type="text" id="ad" />
 <div style="float:right;margin-top:10px"><img id ="loading-image" src = "/assets/load.gif"></div>
<div id ="wik">
 	<div id = "loading-fail"> There might be some error in your network connection </div>
<%= render 'layouts/wiki' %> 
</div>
</div>
<div id ="scilab_vm">
      <input name="ad" class="sc_input" type="text" id="ad" />
 <div style="float:right;margin-top:10px"><img id ="loading-image_sc" src = "/assets/load.gif"></div>
<div id ="scilab">
 	<div id = "loading-fail_sc"> There might be some error in your network connection </div>

<%= render 'layouts/scilab' %> 
</div>

</div>

</div>
<div id ="so_vm">
      <input name="ad" class="so_input" type="text" id="ad" />
 <div style="float:right;margin-top:10px"><img id ="loading-image_so" src = "/assets/load.gif"></div>

<div id ="so">
	<div id = "loading-fail_so"> There might be some error in your network connection </div>

<%= render 'layouts/so' %> 
</div>
</div>
<div id="gist_vm">
 <div  id="gist_field">

<%= render "gists/form" %>

  </div>
<%begin%>
<div id = "g">
<%= render current_user.gists %>
</div>
<%rescue%><%end%>	
</div>

<div id="irc_vm">
</div>
</div>
<%end%>
<script>

$(function() {

// hide it first
    $("#loading-image").hide();
    $("#loading-fail").hide();
    $("#loading-image_so").hide();
    $("#loading-fail_so").hide();
    $("#loading-image_sc").hide();
    $("#loading-fail_sc").hide();
  
    $('#so_vm').hide();    
$('#gist_vm').hide();
      $('#irc_vm').hide();
      $('#scilab_vm').hide();
    $('#link_1').css('border-bottom', '3px solid navy');
  
  $('#link_1').click(function(){ 
     clear_borders();
     $('#link_1').css('border-bottom', '3px solid navy');
  
      $('#so_vm').hide();
     
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#wiki_vm').fadeIn(300);
  }); 
$('#link_3').click(function(){ 
     clear_borders();
     $('#link_3').css('border-bottom', '3px solid navy');
  
      $('#so_vm').hide();
      $('#wiki_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#irc_vm').fadeIn(300);
  }); 
 $('#link_4').click(function(){ 
     clear_borders();
     $('#link_4').css('border-bottom', '3px solid navy');
  
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').hide();
      $('#so_vm').fadeIn(300);
  }); 
$('#link_5').click(function(){ 
     clear_borders();
    $('#link_5').css('border-bottom', '3px solid navy');
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#so_vm').hide();
      $('#scilab_vm').hide();
      $('#gist_vm').fadeIn(300);
  }); 
  $('#link_6').click(function(){ 
    clear_borders();
    $('#link_6').css('border-bottom', '3px solid navy');
      $('#wiki_vm').hide();
      $('#irc_vm').hide();
      $('#so_vm').hide();
      $('#gist_vm').hide();
      $('#scilab_vm').fadeIn(300);
});
 $('.wiki_input').keyup(function(event) {
        if (event.keyCode == 13) {
         $.ajax({
type: "GET",
url: "/wik",
data: { ad: $('.wiki_input').val() },
           beforeSend: function() {
              $("#loading-image").show();
               $("#loading-fail").hide();
  
           },
           success: function() {
              $("#loading-image").hide();
           },
           error: function() {
              $("#loading-fail").show();  
              $("#loading-image").hide();
               
           }
});
    }
     return false;
});
 $('.sc_input').keyup(function(event) {
        if (event.keyCode == 13) {
         $.ajax({
type: "GET",
url: "/scilab",
data: { ad: $('.sc_input').val() },
           beforeSend: function() {
              $("#loading-image_sc").show();
               $("#loading-fail_sc").hide();
  
           },
           success: function() {
              $("#loading-image_sc").hide();
           },
           error: function() {
              $("#loading-fail_sc").show();  
              $("#loading-image_sc").hide();
               
           }
});
    }
     return false;
});
 $('.so_input').keyup(function(event) {
        if (event.keyCode == 13) {
         $.ajax({
type: "GET",
url: "/so",
data: { ad: $('.so_input').val() },
           beforeSend: function() {
              $("#loading-image_so").show();
               $("#loading-fail_so").hide();
  
           },
           success: function() {
              $("#loading-image_so").hide();
           },
           error: function() {
              $("#loading-fail_so").show();  
              $("#loading-image_so").hide();
               
           }
});
}
     return false;
        
    });

function clear_borders(){
  $('#link_1').css('border', '0px');
  $('#link_3').css('border', '0px');
  $('#link_4').css('border', '0px');
  $('#link_5').css('border', '0px');
 $('#link_6').css('border', '0px');
 
 
   }
});
</script>